<div class="user_info_container">
  <div class="user_image_container">
    <div class="user_edit_link">
      <a ui-sref="user_detail.edit({id: user.id})"><span class="glyphicon glyphicon-pencil" title="Edit Profile"></span></a>
    </div>
    <div class="user_bg_image">
      <img src="{{user.avatar_url.background}}">
    </div>
    <div class="user_name_on_image">
      <p>{{user.name}}<p>
    </div>
    <div class="user_email">
      <p>E-mail - {{user.email}}</p>
    </div>
    <div class="user_city">
      <p>From - {{user.city}}</p>
    </div>
    <div class="user_profile_image">
       <img src="{{user.avatar_url.profile}}" alt="Smiley face" />
    </div>
  </div>
</div>
<div ui-view></div>